/* Base Styles */
* {
    box-sizing: border-box;
  }

  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #EFF6FF; 
  }
  
  /* Main Container Styles */
  .main-add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #EFF6FF;
    flex-direction: column;
  }
  
  /* Add Crew Container Styles */
  .add-crew-container {
    margin-top: 50px;
    width: 100%;
    max-width: 800px; 
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 0px #5a5a5a82;
    display: flex;
    flex-direction: column;
  }

  .main-add-container > button {
    
    margin-right:  1000px;
  }
  
  .add-crew-title {
    color: #333;
    margin-bottom: 40px;
    text-align: center;
  }
  
  /* Form Styles */
  .add-crew-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #D1D5DB; 
    font-size: 16px;
  }
  
  /* Button Styles */
  .add-crew-button {
    padding: 20px 40px;
    background-color: #005188;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  
  .add-crew-button:hover {
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.362);  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .main-add-container {
      min-height: auto; 
      padding: 10px;
    }
  
    .add-crew-container {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .form-control {
      padding: 8px;
      font-size: 14px;
    }
  
    .add-crew-button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  