
  /* Profile Main Styles */
  .profile-main {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 50px auto 0 auto;
  }
  
  /* Profile Content Styles */
  .profile-content {
    width: 100%;
    max-width: 800px; /* Maximum width of the content area */
    background-color: #03045E; /* Darkest color for the content background */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Profile Header Styles */
  .profile-header {
    background-color: #0077B6; /* Second darkest color for the header */
    color: #CAF0F8;
    padding: 20px;
    text-align: center;
  }
  
  .profile-title {
    margin: 0;
  }
  
  /* Profile Info Styles */
  .profile-info {
    padding: 20px;
    background-color: #f5f5f5; /* Middle color for info background */
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-info-item {
    margin: 10px 0;
  }
  
  .profile-picture {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  /* Profile Form Styles */
  .profile-form {
    padding: 20px;
    background-color: #90E0EF; /* Second lightest color for the form background */
    display: flex;
    align-items: center;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #0077B6;
  }
  
  .form-button {
    display: block;
    width: 50%;
    padding: 10px 20px;
    background-color: #0077B6;
    color: #CAF0F8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .form-button:hover {
    background-color: #005f87;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .profile-main {
      padding: 10px;
    }
  
    .profile-content {
      box-shadow: none;
    }
  }
  
  @media (max-width: 480px) {
    .profile-header, .profile-info, .profile-form {
      padding: 15px;
    }
  
    .form-input, .form-button {
      padding: 8px;
    }
  }
  