@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

.App {
 
  background-size: cover;
  height: 100vh;
  overflow: auto;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}


/* --------------------------------- */
.homepage-container {
  background-image: url('../public/aircraft.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
}

.homepage-content {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2; 
}

.homepage-logo {
  max-width: 50%;
  height: auto;
}

.homepage-title {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.button {
  background-color: #005288;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none; 
  display: inline-block; 
  transition: background-color 0.3s;
}

.button-signup {
  background-color: #007bff; 
}

.button:hover {
  background-color: #003d66;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .homepage-logo {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .homepage-title {
    font-size: 2em;
  }
  .homepage-logo {
    max-width: 70%;
  }
  .button {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .homepage-title {
    font-size: 1.5em;
  }
  .homepage-logo {
    max-width: 60%;
  }
}



/* --------------LOG IN PAGE ---------- */
.login-page {
  background-image: url('../public/motor.jpg'); 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.login-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
}

.login-title {
  text-align: center;
  color: #005288; 
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.login-button {
  background-color: #005288;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #003d66;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.signup-prompt, .signup-link {
  text-align: center;
  display: block;
  margin-top: 20px;
}

.signup-link {
  color: #005288;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .login-page {
    padding: 10px;
  }

  .login-container {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .login-title {
    font-size: 1.5em;
  }

  .login-form .form-control,
  .login-button {
    padding: 8px 10px;
  }

  .login-container {
    padding: 20px;
  }
}

/* -------SIGN UP PAGE ------------ */
/* General Page Styles */
.page-container {
  background-image: url('../public/wing.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position-y: bottom;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.home-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #005288;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.home-back-button:hover {
  background-color: #003d66;
}

/* Form Container */
.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form Element */
.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Form Title */
.form-title {
  color: #005288;
  margin-bottom: 20px;
}

/* Form Group Styling */
.form-group {
  width: 100%; 
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Input Fields */
.input-field {
  width: 95%; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0;
}

/* Submit Button */
.submit-button {
  background-color: #005288;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 95%; 
}

.submit-button:hover {
  background-color: #003d66;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.login-prompt, .login-link {
  text-align: center;
  display: block;
  margin-top: 20px;
}

.login-link {
  color: #005288;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .form-container {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .form-title {
    font-size: 1.5em;
  }

  .input-field,
  .submit-button {
    padding: 8px 10px;
  }

  .form-container {
    padding: 20px;
  }
}

/* crewListPage.css */

/* Status Classes */
.status-active { color: green; }
.status-retired { color: red; }
.status-on-leave { color: rgb(255, 179, 0); }

/* Crew List Container Styles */
.crew-list-container {
  max-width: 2000px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.crew-list-container h1 {
  color: #005288;
  margin-bottom: 20px;
  padding: 20px 0px;
  border-radius: 8px;
}

/* Link Styles */
.add-crew-link {
  display: inline-block;
  background-color: #005288;
  color: white;
  padding: 10px 15px;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

/* Table Styles */
.crew-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.crew-table th,
.crew-table td {
  padding: 12px 15px;
  text-align: left;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.crew-table td {
  height: 80px;
}
.crew-table th {
  background-color: #005288;
  color: white;
}

.crew-table tbody tr:hover {
  color: #005288;
}

/* Search Bar Styles */
.search-bar {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.search-bar:focus {
  outline: none;
  border-color: #005288;
  box-shadow: 0 0 0 2px rgba(0, 82, 136, 0.2);
}

/* Button Container Styles */


.add-crew-link {

  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #005288;
}

.add-crew-link:hover {
  background-color: grey;
}

/* Responsive Table Styles */
@media screen and (max-width: 768px) {
  .crew-table, .crew-table thead, .crew-table tbody, .crew-table th, .crew-table td, .crew-table tr {
    display: block;
  }

  .crew-table th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .crew-table tr {
    margin-bottom: 10px;
  }

  .crew-table td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  .crew-table td:before {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .crew-table td:before { content: attr(data-label); }
}

/* Smaller Devices */
@media screen and (max-width: 480px) {
  .crew-list-container, .button-container {
    padding: 10px;
  }

  .add-crew-link, .back-button {
    padding: 8px 10px;
    font-size: 0.8em;
  }

  .search-bar {
    padding: 8px 10px;
    margin-bottom: 15px;
  }

  .crew-list-container h1 {
    padding: 15px 0px;
  }
}

/* Very Small Devices */
@media screen and (max-width: 320px) {
  .crew-list-container {
    padding: 5px;
  }

  .crew-list-container h1, .add-crew-link, .back-button, .search-bar {
    font-size: 0.7em;
  }
}

/* ----------CREW DETAILS PAGE--------- */

/* Main container styles */
.crew-details-main {
  max-width: 800px;
  margin: 80px auto 80px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 0px #5a5a5a82;
}

.crew-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
}

.crew-header-title {
  font-size: 2em;
  color: #005188;
}

.crew-header-button {
  
  border: none;
  border-radius: 5px;
  background-color: #005188;
  color: white;
  cursor: pointer;


}

.crew-header-button:hover {
  background-color: #EFEFEF;
  color: black;
}

/* Form styles for edit mode */
.crew-form {
  display: flex;
  flex-direction: column;
  
}

.crew-form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.crew-form-input,
.crew-form-select {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.crew-form-checkbox-group {
  margin-bottom: 20px;
}

/* Action button styles */
.crew-action-buttons {
  margin-top: 20px;
}

.crew-update-button,
.crew-delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.crew-update-button {
  background-color: #28a745;
  color: white;
}

.crew-delete-button {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
}

.crew-update-button:hover {
  background-color: #218838;
}

.crew-delete-button:hover {
  background-color: #c82333;
}

/* Display styles for non-edit mode */
.crew-display {
  border-top: 1px solid #ddd;
  padding-top: 20px;

  
}

.crew-display-item {
  margin-bottom: 10px;
}

.crew-profile-picture {
  width: 200px;
  height: auto;
  border-radius: 10%;
  overflow: hidden;
  margin-bottom: 20px;
}

.crew-profile-picture img {
  width: 100%;
  height: auto;
}

/* Responsive design */
@media (max-width: 768px) {
  .crew-details-main {
    padding: 10px;
  }

  .crew-header-title {
    font-size: 1.5em;
  }

  .flex {
    flex-direction: column;
  }

  .crew-header-button {
    width: 100%;
    margin-top: 10px;
  }

  .crew-action-buttons button {
    width: 100%;
    margin-top: 10px;
  }
}


/* -------FLIGHT LIST PAGE */
/* Flight List Container Styles */
.flight-list-container {
  max-width: 2000px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100vh;
}

.flight-list-container h1 {
  color: #005288;

  margin-bottom: 20px;

  padding: 20px 0px;
  border-radius: 8px;
}

/* Flight Table Styles */
.flight-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}
.flight-table td {
  height: 80px;
}
.flight-table th,
.flight-table td {
  padding: 12px 15px;
  text-align: left;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.flight-table th {
  background-color: #005288;
  color: white;
}

.flight-table tbody tr:hover {
  color: #005288;
}

/* Add-Flight Link Styles */

.status-scheduled {
  color: rgb(0, 140, 255);
}

.status-delayed {
  color: orange; 
}

.status-cancelled {
  color: red; 
}

.status-completed {
  color: green;
}